body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

main {
  background-color: var(--bgColor);
}

#space {
  width: 100%;
  height: 20vh;
  border-bottom: 1px solid #d9d9d9;
  background-color: var(--bgColor);
}

header {
  width: 100%;
  height: 17vh;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container-fluid .row .my-col ul {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container-fluid .row .my-col ul li {
  position: relative;
  font-weight: 600;
  color: var(--colorAll);
}
header .container-fluid .row .my-col ul li span {
  top: 2px;
  z-index: 3;
  right: -3px;
  color: #fff;
  padding: 0 5px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  background-color: #ff5d1d;
}
header .container-fluid .row .my-col ul li a {
  font-size: 15px;
  font-variant: var(--colorAll) !important;
}
header .container-fluid .row .my-col ul li ul {
  width: 45px;
  height: auto;
  position: absolute;
  background-color: var(--bgColor);
  border: 1px solid #767676;
  flex-direction: column;
  margin: 0;
  padding: 0;
  left: -10px;
  display: none;
}
header .container-fluid .row .my-col ul li ul li {
  width: 100%;
  height: auto;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s ease;
}
header .container-fluid .row .my-col ul li ul li:hover {
  background-color: var(--hvLang);
}
header .container-fluid .row .my-col ul li:hover ul {
  display: block;
}
header .container-fluid .row .first-col {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}
header .container-fluid .row .first-col button {
  border: none;
  outline: none;
  display: none;
  background-color: transparent;
}
header .container-fluid .row .first-col button .i {
  color: #ff5d1d;
  font-size: 25px;
  transition: all 0.3s;
}
header .container-fluid .row .first-col button .i:hover {
  transform: scale(1.1);
}
header .container-fluid .row .first-col ul {
  padding-top: 10px;
}
header .container-fluid .row .first-col ul li a {
  color: var(--colorAll);
}
header .container-fluid .row .first-col ul li a:hover {
  color: #ff5d1d;
}
header .container-fluid .row .second-col {
  text-align: center;
}
header .container-fluid .row .second-col .logo {
  width: 70%;
  height: 40px;
  background: var(--logoBg);
}
header .container-fluid .row .thread-col {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding-right: 35px;
}
header .container-fluid .row .thread-col ul {
  width: 60%;
}
header .container-fluid .row .thread-col ul li .i {
  color: var(--colorAll);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
}
header .container-fluid .row .thread-col ul li .i:hover {
  transform: scale(1.1);
  color: #ff5d1d;
}
header .container-fluid .row .thread-col ul li a {
  color: var(--colorAll);
}

@media (max-width: 992px) {
  header .container-fluid .row .first-col ul {
    display: none;
  }
  header .container-fluid .row .first-col button {
    display: block;
  }
}
@media (max-width: 768px) {
  header .container-fluid .row .first-col {
    order: 2;
    margin-top: 10px;
  }
  header .container-fluid .row .second-col {
    order: 1;
  }
  header .container-fluid .row .thread-col {
    order: 3;
    margin-top: 10px;
  }
  header .container-fluid .row .thread-col ul {
    width: 100%;
  }
}
.side-bar {
  top: 0;
  z-index: 999;
  width: 270px;
  height: 100vh;
  padding: 0 !important;
  position: fixed;
  transition: all 0.7s ease;
  background-color: var(--sidebarBg);
  transform: translateX(-100%);
}
.side-bar ul {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding-left: 10px;
}
.side-bar ul li {
  line-height: 34px;
  padding: 6px;
  width: 100%;
}
.side-bar ul li:hover a {
  color: #ff5d1d;
}
.side-bar ul li a {
  color: var(--colorAll);
  font-weight: 600;
  transition: all 0.5s ease;
}
.side-bar ul .first-li {
  text-align: end;
  font-size: 17px;
  cursor: pointer;
  padding-left: 15px;
  transition: all 0.4s ease;
  color: var(--colorAll);
}
.side-bar ul .first-li .i:hover {
  color: #ff5d1d;
}

.opn {
  transform: translateX(0);
}

#slider {
  width: 100%;
  height: auto;
}
#slider .mySwiper {
  margin-top: 0;
  padding: 0;
}
#slider .mySwiper .mySlide img {
  width: 100%;
}
#slider .mySwiper .swiper-button-next,
#slider .mySwiper .swiper-button-prev {
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
}
#slider .mySwiper .swiper-button-next:after,
#slider .mySwiper .swiper-button-prev:after {
  color: #000;
  padding: 14px 20px;
  font-size: 16px;
  transition: all 0.5s ease;
}
#slider .mySwiper:hover .swiper-button-next,
#slider .mySwiper:hover .swiper-button-prev {
  opacity: 1;
  transform: scale(1.3);
}
#slider .mySwiper:hover .swiper-button-next::after,
#slider .mySwiper:hover .swiper-button-prev::after {
  font-size: 24px;
}

#logo-slider {
  width: 100%;
  height: 70vh;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
}
#logo-slider .mySwiper {
  margin-top: 0;
}
#logo-slider .mySwiper .my-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-slider .mySwiper .my-slide .my-card {
  width: 80%;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s ease;
  background-color: var(--LogoCard);
}
#logo-slider .mySwiper .my-slide .my-card * {
  margin: 15px 0;
}
#logo-slider .mySwiper .my-slide .my-card p {
  font-weight: 700;
  transition: all 0.3s ease;
  color: #000;
}
#logo-slider .mySwiper .my-slide .my-card img:hover {
  animation: motion 1s;
}
#logo-slider .mySwiper .my-slide .my-card:hover {
  background-color: var(--hvLogoCard);
}
#logo-slider .mySwiper .my-slide .my-card:hover p {
  color: #ff5d1d;
}
#logo-slider .mySwiper .swiper-button-next::after,
#logo-slider .mySwiper .swiper-button-prev::after {
  font-size: 20px;
  color: #000;
}

@keyframes motion {
  0% {
    transform: translateX(-2px);
  }
  10% {
    transform: translateX(4px);
  }
  20% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  70% {
    transform: translateX(2px);
  }
  80% {
    transform: translateX(-2px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 900px) {
  #logo-slider {
    height: auto;
  }
}
#arrivals {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: var(--Arrivals);
}

section h4 {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  color: var(--colorAll);
}
section p {
  text-align: center;
  color: #555;
  font-size: 14px;
}

.mySwiper {
  margin-top: 50px;
  padding: 0 15px;
}
.mySwiper .my-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mySwiper .my-slide button {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  color: #fff;
  background-color: #000;
  width: auto;
  height: auto;
  font-size: 17px;
  font-weight: 600;
  padding: 0.7rem 2rem;
}
.mySwiper .my-slide .arr-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mySwiper .my-slide .arr-card .image {
  width: 95%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.mySwiper .my-slide .arr-card .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.mySwiper .my-slide .arr-card .image img {
  width: 100%;
  height: 100%;
}
.mySwiper .my-slide .arr-card .image .i-con {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  right: -60px;
  height: 45%;
  top: 10px;
  transition: all 0.5s ease;
  z-index: 2;
}
.mySwiper .my-slide .arr-card .image .i-con span {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  transition: all 0.2s ease;
}
.mySwiper .my-slide .arr-card .image .i-con span:hover {
  background-color: #ff5d1d;
}
.mySwiper .my-slide .arr-card .image .i-con span:hover .i {
  color: #fff;
}
.mySwiper .my-slide .arr-card .image .i-con span .i {
  font-size: 22px;
  color: #333;
  transition: all 0.2s ease;
}
.mySwiper .my-slide .arr-card .price {
  color: #ff5d1d;
  font-weight: 700;
  font-size: 17px;
}
.mySwiper .my-slide .arr-card .desc {
  color: var(--CardDescriotion);
  margin-top: 10px;
}
.mySwiper .my-slide .arr-card:hover .i-con {
  right: 10px;
}
.mySwiper .my-slide .arr-card:hover .image::after {
  background-color: rgba(169, 169, 169, 0.1882352941);
}
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  font-size: 20px;
  color: #000;
}

#populars {
  background-color: var(--bgColor);
}
#populars .container-fluid .row .col-12 {
  background-color: var(--Arrivals);
  padding: 0;
}
#populars .container-fluid .row .col-12 .swiper-button-next::after {
  font-size: 20px;
  color: #000;
  padding-right: 15px;
}
#populars .container-fluid .row .col-12 .swiper-button-prev::after {
  font-size: 20px;
  color: #000;
  padding-left: 15px;
}
#populars .container-fluid .row .col-12 button {
  background-color: var(--colorAll);
  color: var(--bgColor);
}
#populars .container-fluid .row .col-12 .item {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  background: url("https://opencart.smartaddons.com/themes/so_bigboom/image/catalog/banners/id1-img1.jpg") top/cover no-repeat;
}
#populars .container-fluid .row .col-12 .item::after {
  content: "";
  width: 5%;
  height: 5%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  border: 10px solid rgba(255, 255, 255, 0.2862745098);
}
#populars .container-fluid .row .col-12 .item::before {
  content: "";
  opacity: 0;
  width: 90%;
  height: 90%;
  position: absolute;
  transition: all 0.6s ease;
  border: 10px solid rgba(255, 255, 255, 0.2862745098);
}
#populars .container-fluid .row .col-12 .item:hover::after {
  opacity: 1;
  width: 120%;
  height: 120%;
}
#populars .container-fluid .row .col-12 .item:hover::before {
  opacity: 1;
  width: 120%;
  height: 120%;
  transition: all 0.8s ease;
}

#all-prod {
  width: 100%;
  height: auto;
  padding: 70px 0;
  background-color: var(--bgColor);
}
#all-prod h4 {
  margin: 15px 0;
}
#all-prod .container-fluid .button-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px 0;
}
#all-prod .container-fluid .button-con button {
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-size: 14.5px;
  margin: 0 3px;
  width: auto;
  height: auto;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s ease;
}
#all-prod .container-fluid .button-con button:hover {
  background-color: #000;
  color: #fff;
}
#all-prod .container-fluid .button-con button:focus {
  background-color: #ff5d1d;
  color: #fff;
}
#all-prod .container-fluid .row .col-12 .arr-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#all-prod .container-fluid .row .col-12 .arr-card .image {
  width: 95%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#all-prod .container-fluid .row .col-12 .arr-card .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
#all-prod .container-fluid .row .col-12 .arr-card .image img {
  width: 100%;
  height: 100%;
}
#all-prod .container-fluid .row .col-12 .arr-card .image .i-con {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  right: -60px;
  height: 40%;
  top: 10px;
  transition: all 0.5s ease;
  z-index: 2;
}
#all-prod .container-fluid .row .col-12 .arr-card .image .i-con span {
  display: inline-block;
  background-color: #fff;
  padding: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}
#all-prod .container-fluid .row .col-12 .arr-card .image .i-con span:hover {
  background-color: #ff5d1d;
}
#all-prod .container-fluid .row .col-12 .arr-card .image .i-con span:hover .i {
  color: #fff;
}
#all-prod .container-fluid .row .col-12 .arr-card .image .i-con span .i {
  font-size: 20px;
  color: #333;
  transition: all 0.2s ease;
}
#all-prod .container-fluid .row .col-12 .arr-card .price {
  color: var(--colorAll);
  font-weight: 700;
  font-size: 17px;
}
#all-prod .container-fluid .row .col-12 .arr-card .desc {
  color: #555;
  cursor: pointer;
  margin-top: 10px;
}
#all-prod .container-fluid .row .col-12 .arr-card .desc:hover {
  color: #ff5d1d;
}
#all-prod .container-fluid .row .col-12 .arr-card:hover .i-con {
  right: 10px;
}
#all-prod .container-fluid .row .col-12 .arr-card:hover .image::after {
  background-color: rgba(169, 169, 169, 0.1882352941);
}

#design {
  padding: 60px 0;
  background-color: var(--bgColor);
}
#design .container {
  display: flex;
  overflow: hidden !important;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
#design .container img {
  width: 100%;
  height: 100%;
}
#design .container::after {
  content: "";
  width: 5%;
  opacity: 0;
  height: 10%;
  position: absolute;
  transition: all 0.6s ease;
  border: 10px solid rgba(255, 255, 255, 0.5490196078);
}
#design .container::before {
  content: "";
  width: 70%;
  opacity: 0;
  height: 80%;
  position: absolute;
  border: 10px solid rgba(255, 255, 255, 0.5490196078);
}
#design .container:hover::after {
  width: 120%;
  height: 120%;
  opacity: 1;
}
#design .container:hover::before {
  width: 120%;
  height: 120%;
  opacity: 1;
  transition: all 0.6s ease;
}

#partners {
  background-color: var(--bgColor);
  padding: 20px;
}
#partners .mySwiper .my-slide .my-card img {
  width: 100%;
  opacity: 0.3;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
#partners .mySwiper .my-slide .my-card img:hover {
  opacity: 1;
}

#bg {
  height: 550px;
  width: 100%;
  background: url("https://opencart.smartaddons.com/themes/so_bigboom/image/catalog/banners/id1-banner2.jpg") center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bg .container .row .col-12 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#bg .container .row .col-12 .bg-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 20px 35px 35px;
  width: 70%;
  height: 100%;
  background-color: var(--bgColor);
}
#bg .container .row .col-12 .bg-card h4 {
  font-size: 16px;
  color: var(--colorAll);
  text-align: start;
}
#bg .container .row .col-12 .bg-card h2 {
  font-size: 24px;
  margin: 25px 0;
  color: var(--ColorLight);
}
#bg .container .row .col-12 .bg-card ul {
  padding-left: 0;
  margin: 20px 0;
}
#bg .container .row .col-12 .bg-card ul li {
  font-weight: 100;
  font-size: 17px;
  color: var(--ColorLight);
  line-height: 44px;
}
#bg .container .row .col-12 .bg-card button {
  width: auto;
  height: auto;
  margin: 15px 0;
  color: var(--bgColor);
  padding: 0.6rem 1.8rem;
  background-color: var(--buttonBg);
  border: none;
  align-self: start;
  outline: none;
}

@media (max-width: 768px) {
  #bg .container .row .col-12 .bg-card {
    width: 80%;
  }
}
@media (max-width: 576px) {
  #bg .container .row .col-12 .bg-card {
    width: 90%;
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  #bg .container .row .col-12 .bg-card {
    width: 100%;
  }
}
#min-news {
  background-color: var(--bgColor);
  height: 60vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#min-news .container .row .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#min-news .container .row .col-12 .min-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#min-news .container .row .col-12 .min-card span .i {
  font-size: 40px;
  color: var(--colorAll);
}
#min-news .container .row .col-12 .min-card h5 {
  color: var(--colorAll);
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
#min-news .container .row .col-12 .min-card h5:hover {
  color: #ff5d1d;
}
#min-news .container .row .col-12 .min-card p {
  color: var(--CardDescriotion);
}

@media (max-width: 900px) {
  #min-news {
    height: auto;
  }
}
footer {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .container {
  margin-top: 30px;
}
footer .container p {
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: var(--colorAll);
}
footer .container p span {
  color: #ff5d1d;
  cursor: pointer;
}
footer .container-fluid .row .col-12 h4 {
  font-size: 16px;
  color: var(--colorAll);
}
footer .container-fluid .row .col-12 ul {
  padding-left: 0;
}
footer .container-fluid .row .col-12 ul li {
  font-size: 14px;
  font-weight: 300;
  color: var(--ColorLight);
  line-height: 26px;
  cursor: pointer;
  transition: all 0.3s ease;
}
footer .container-fluid .row .col-12 ul li:hover {
  color: #ff5d1d;
}
footer .container-fluid .row .col-12 .pd {
  margin-left: 15px;
}
footer .container-fluid .row .col-12 p {
  color: var(--ColorLight);
  font-size: 14px;
}
footer .container-fluid .row .col-12 div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container-fluid .row .col-12 div input {
  outline: none;
  border: 1px solid var(--ColorLight);
  width: 75%;
  height: auto;
  padding: 0.7rem 0.6rem;
}
footer .container-fluid .row .col-12 div button {
  width: auto;
  height: auto;
  padding: 0.8rem 1.7rem;
  border: none;
  outline: none;
  background-color: var(--colorAll);
  color: var(--bgColor);
  font-weight: 700;
  transition: all 0.1s;
}
footer .container-fluid .row .col-12 div button:hover {
  background-color: #ff5d1d;
}
footer .container-fluid .row .col-12 .i-con {
  width: 42%;
  margin-top: 20px;
}
footer .container-fluid .row .col-12 .i-con span {
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.4s ease;
  background-color: #fafafa;
  cursor: pointer;
}
footer .container-fluid .row .col-12 .i-con span:hover {
  background-color: #ff5d1d;
  color: #fff;
}

@media (max-width: 992px) {
  footer .container-fluid .row .col-12 .pd {
    margin: 0;
  }
}
#glob-sec {
  width: 100%;
  height: auto;
  display: flex;
  padding: 30px 10px;
  align-items: center;
  background-color: var(--bgColor);
  justify-content: flex-start;
}
#glob-sec * {
  margin: 0 3px;
  color: var(--colorAll);
}
#glob-sec p {
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
#glob-sec p:hover {
  color: #ff5d1d;
}

#about-first {
  width: 100%;
  height: 70vh;
  background: url("https://opencart.smartaddons.com/themes/so_bigboom/image/catalog/about/about1/bgabout2.jpg") center/cover no-repeat;
}

#title {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#title h2 {
  color: var(--colorAll);
  font-weight: 700;
  font-size: 36px;
  margin-top: 20px;
}
#title p {
  width: 90%;
  font-size: 16px;
  color: #636363;
  font-weight: 400;
  line-height: 27px;
  margin: 15px 0;
}

#about-slider {
  width: 100%;
  height: auto;
}
#about-slider h4 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
#about-slider .mySwiper .my-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-slider .mySwiper .my-slide .item {
  width: 100%;
  height: 100%;
}
#about-slider .mySwiper .my-slide .item h6 {
  text-align: center;
  font-weight: 700;
  margin: 25px 0 8px;
  color: var(--colorAll);
  font-size: 15px;
  letter-spacing: -0.4px;
}
#about-slider .mySwiper .my-slide .item p {
  font-size: 13px;
  color: #636363;
  font-weight: 400;
}
#about-slider .mySwiper .my-slide .item img {
  width: 100%;
  height: 100%;
}

#gallery {
  width: 100%;
  height: auto;
  padding-top: 30px;
}
#gallery .container-fluid {
  margin-top: 30px;
}
#gallery .container-fluid .row .col-12 img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.1s;
}
#gallery .container-fluid .row .col-12 img:hover {
  opacity: 0.7;
}
#gallery .tabs-con {
  margin-left: 8px;
  display: block;
}
#gallery .tabs-con button {
  border: none;
  outline: none;
  margin: 0 5px;
  font-weight: 700;
  padding: 0.9rem 2rem;
  background-color: #f7f7f7;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
#gallery .tabs-con button::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  transform: rotate(45deg);
  background-color: inherit;
  z-index: -3;
  top: 35px;
}
#gallery .tabs-con button:hover {
  background-color: #000;
  color: #fff;
}

.arr {
  background-color: #ff5d1d !important;
  color: #fff;
}

#contact-me {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
#contact-me .container-fluid .row .col-12 {
  margin-top: 15px;
}
#contact-me .container-fluid .row .col-12 h4 {
  color: var(--colorAll);
  font-size: 23px;
  font-weight: 700;
  text-align: start;
}
#contact-me .container-fluid .row .col-12 p {
  text-align: start;
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0;
  color: var(--ColorLight);
  padding: 0;
}
#contact-me .container-fluid .row .col-12 input {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
}
#contact-me .container-fluid .row .col-12 input::-moz-placeholder {
  color: var(--Placeholder);
}
#contact-me .container-fluid .row .col-12 input::placeholder {
  color: var(--Placeholder);
}
#contact-me .container-fluid .row .col-12 textarea {
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  height: 150px;
  width: 100%;
}
#contact-me .container-fluid .row .col-12 textarea::-moz-placeholder {
  color: var(--Placeholder);
}
#contact-me .container-fluid .row .col-12 textarea::placeholder {
  color: var(--Placeholder);
}
#contact-me .container-fluid .row .col-12 button {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  color: var(--bgColor);
  font-weight: 700;
  margin-top: 10px;
  padding: 0.6rem 1.7rem;
  background-color: var(--colorAll);
  transition: all 0.3s ease;
}
#contact-me .container-fluid .row .col-12 button:hover {
  background-color: #ff5d1d;
  color: #fff;
}
#contact-me .container-fluid .row .col-12 .item h5 {
  color: #ff5d1d;
  font-weight: 700;
  font-size: 19px;
}
#contact-me .container-fluid .row .col-12 .item ul {
  padding-left: 0;
}
#contact-me .container-fluid .row .col-12 .item ul li {
  color: var(--ColorLight);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
#contact-me .container-fluid .row .col-12 .item span {
  color: var(--ColorLight);
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}
#contact-me .container-fluid .row .col-12 .item span:hover {
  color: #ff5d1d;
}

#map {
  width: 100%;
  height: 60vh;
}
#map iframe {
  width: 100%;
  height: 100%;
}

#filter-panel {
  width: 100%;
  height: auto;
  color: var(--colorAll);
  transition: all 0.5s ease;
  background-color: var(--bgColor);
}
#filter-panel::-webkit-scrollbar {
  width: 6px;
  background-color: #dadada;
}
#filter-panel::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #afafaf;
}
#filter-panel .close {
  width: 100%;
  padding: 6px;
  display: none;
  color: #fff;
  font-weight: 900;
  text-align: end !important;
}
#filter-panel .close span {
  font-size: 25px;
  cursor: pointer;
}
#filter-panel .close span .i {
  color: var(--colorAll);
}
#filter-panel .container .row .aft {
  display: flex;
  padding-left: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
#filter-panel .container .row .aft img {
  width: 100%;
}
#filter-panel .container .row .aft::after {
  content: "";
  width: 85%;
  opacity: 0;
  height: 90%;
  position: absolute;
  transition: all 0.4s ease;
  border: 25px solid rgba(255, 255, 255, 0.2745098039);
}
#filter-panel .container .row .aft::before {
  content: "";
  width: 15%;
  height: 20%;
  opacity: 0;
  position: absolute;
  transition: all 0.4s ease;
  border: 10px solid rgba(229, 229, 229, 0.3882352941);
}
#filter-panel .container .row .aft:hover::after, #filter-panel .container .row .aft:hover::before {
  opacity: 1;
  width: 130%;
  height: 130%;
}
#filter-panel .container .row .col-12 {
  margin: 35px 0;
}
#filter-panel .container .row .col-12 img {
  width: 100%;
  height: 100%;
}
#filter-panel .container .row .col-12 h3 {
  font-size: 23px;
  color: var(--colorAll);
}
#filter-panel .container .row .col-12 .search-box div {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.6rem;
  background-color: #f5f5f5;
  justify-content: space-between;
}
#filter-panel .container .row .col-12 .search-box div input {
  border: none;
  outline: none;
  background: none;
  width: 80%;
}
#filter-panel .container .row .col-12 .search-box div span .i {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
#filter-panel .container .row .col-12 .search-box div span .i:hover {
  color: #ff5d1d;
}
#filter-panel .container .row .col-12 .size-con {
  width: 100%;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#filter-panel .container .row .col-12 .size-con span {
  padding: 0.5rem 0.7rem;
  display: inline-block;
  background-color: var(--panelBtn);
  font-size: 15px;
  font-weight: 700;
  margin: 0 2px;
  color: var(--colorAll);
  cursor: pointer;
  transition: all 0.4s ease;
}
#filter-panel .container .row .col-12 .size-con span:hover {
  color: #fff;
  background-color: #ff5d1d;
}
#filter-panel .container .row .col-12 .tag-con {
  width: 76%;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#filter-panel .container .row .col-12 .tag-con span {
  padding: 0.6rem 1.2rem;
  display: inline-block;
  font-size: 15px;
  border: 1px solid #e9e9e9;
  font-weight: 400;
  margin: 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}
#filter-panel .container .row .col-12 .tag-con span:hover {
  color: #fff;
  background-color: #ff5d1d;
}
#filter-panel .container .row .col-12 ul {
  padding-left: 0;
}
#filter-panel .container .row .col-12 ul li {
  color: var(--ColorLight);
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}
#filter-panel .container .row .col-12 ul li label {
  width: 70%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
#filter-panel .container .row .col-12 ul li label input {
  accent-color: #000;
}

@media (max-width: 992px) {
  #filter-panel {
    top: 0;
    left: 0;
    z-index: 99;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    transform: translateX(-100%);
  }
  #filter-panel .close {
    display: block;
  }
}
.tr-none {
  transform: translateX(0) !important;
}

#filter-prod {
  width: 100%;
  height: auto;
}
#filter-prod h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--colorAll);
}
#filter-prod .container-fluid .row .col-12 .item {
  width: 100%;
  height: auto;
}
#filter-prod .container-fluid .row .col-12 .item img {
  width: 100%;
  height: 100%;
}
#filter-prod .container-fluid .row .col-12 p {
  font-size: 15px;
  color: var(--CardDescriotion);
  text-align: start;
  font-weight: 400;
  padding: 10px 0;
}
#filter-prod .container-fluid .row .col-12 .button-con {
  width: 25%;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
#filter-prod .container-fluid .row .col-12 .button-con .sidebar-btn {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
#filter-prod .container-fluid .row .col-12 .button-con .sidebar-btn span {
  padding: 0;
  margin: 0;
}
#filter-prod .container-fluid .row .col-12 .button-con .sidebar-btn span .i {
  font-size: 21px;
  color: var(--colorAll);
  margin: 0;
  padding: 0;
}
#filter-prod .container-fluid .row .col-12 .button-con .sidebar-btn p {
  color: var(--colorAll);
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-left: 7px;
  margin-top: 3px;
}
#filter-prod .container-fluid .row .col-12 .button-con span {
  display: inline-block;
  padding: 7px;
  border: 1px solid transparent;
  cursor: pointer;
}
#filter-prod .container-fluid .row .col-12 .button-con span .i {
  font-size: 26px;
  color: #989898;
}
#filter-prod .container-fluid .row .col-12 .button-con .bor {
  border-color: var(--colorAll);
}
#filter-prod .container-fluid .row .col-12 .button-con .bor .i {
  color: var(--colorAll);
}
#filter-prod .container-fluid .row .col-12 .button-con .big {
  padding: 4px;
}
#filter-prod .container-fluid .row .col-12 .button-con .big .i {
  font-size: 34px;
}
#filter-prod .container-fluid .row .col-12 .count {
  width: 25%;
  display: flex;
  align-items: center;
}
#filter-prod .container-fluid .row .col-12 .count p {
  padding: 0;
  margin: 0 10px;
}
#filter-prod .container-fluid .row .col-12 .count .show-count {
  position: relative;
  cursor: pointer;
  color: var(--ColorLight);
}
#filter-prod .container-fluid .row .col-12 .count .show-count ul {
  position: absolute;
  background-color: #fff;
  width: 60px;
  padding: 0;
  border: 1px solid #767676;
  display: none;
}
#filter-prod .container-fluid .row .col-12 .count .show-count ul li {
  color: #555;
  cursor: pointer;
  width: 100%;
  padding: 2px 4px;
}
#filter-prod .container-fluid .row .col-12 .count .show-count ul li:hover {
  color: #333;
  background-color: #ecebeb;
}
#filter-prod .container-fluid .row .col-12 .select {
  width: 25%;
  display: flex;
  justify-content: center;
  color: var(--ColorLight);
}
#filter-prod .container-fluid .row .col-12 .select p {
  padding: 0;
  margin: 0;
}
#filter-prod .container-fluid .row .col-12 .select select {
  border: 1px solid #acacac;
  background: none;
  outline: none;
  color: #767676;
  margin-left: 15px;
  width: 60%;
  padding: 5px;
}
#filter-prod .container-fluid .row .col-12 .container {
  margin-top: 15px;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image {
  width: 95%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image img {
  width: 100%;
  height: 100%;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image .i-con {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  right: -60px;
  top: 10px;
  transition: all 0.5s ease;
  z-index: 2;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image .i-con span {
  display: inline-block;
  background-color: #fff;
  padding: 6px;
  margin: 10px 0;
  transition: all 0.2s ease;
  cursor: pointer;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image .i-con span:hover {
  background-color: #ff5d1d;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image .i-con span:hover .i {
  color: #fff;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image .i-con span .i {
  color: #333;
  font-size: 20px;
  transition: all 0.2s ease;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .image:hover::after {
  background-color: rgba(118, 118, 118, 0.2705882353);
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .p-con {
  text-align: center;
  width: 100%;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .p-con .price {
  color: var(--colorAll);
  font-size: 17px;
  font-weight: 700;
  text-align: center !important;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .p-con .desc {
  text-align: center !important;
  margin-top: 10px;
  cursor: pointer;
  color: #555;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card .p-con .desc:hover {
  color: #ff5d1d;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-12 .arr-card:hover .i-con {
  right: 20px !important;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 {
  margin: 10px 0;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card {
  width: 100%;
  height: 100%;
  flex-direction: row;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .p-con {
  width: 53%;
  padding: 40px 20px 0;
  align-self: flex-start;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .p-con .title {
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  color: var(--colorAll);
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .p-con .title:hover {
  color: #ff5d1d;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .p-con .desc {
  pointer-events: none;
  color: var(--ColorLight);
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .p-con .price {
  color: #ff5d1d;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .image {
  width: 45%;
  height: 100%;
  position: relative;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .image img {
  width: 100%;
  height: 100%;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .image .i-con {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  right: -60px;
  height: 40%;
  top: 10px;
  transition: all 0.5s ease;
  z-index: 2;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .image .i-con span {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .image .i-con span:hover {
  background-color: #ff5d1d;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .image .i-con span:hover .i {
  color: #fff;
}
#filter-prod .container-fluid .row .col-12 .container .row .col-lg-12 .arr-card .image .i-con span .i {
  font-size: 20px;
  color: #333;
  transition: all 0.2s ease;
}
#filter-prod .container-fluid .row .my-d {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.show ul {
  z-index: 99;
  display: block !important;
}

@media (max-width: 992px) {
  #filter-prod .container-fluid .row .col-12 .button-con {
    width: 50%;
  }
  #filter-prod .container-fluid .row .col-12 .button-con .sidebar-btn {
    display: flex;
  }
  #filter-prod .container-fluid .row .col-12 .count {
    width: 45%;
  }
  #filter-prod .container-fluid .row .col-12 .select {
    width: 50%;
    margin: 20px 10px;
    justify-content: start;
  }
}
@media (max-width: 576px) {
  #filter-prod .container-fluid .row .col-12 .arr-card {
    flex-direction: column !important;
  }
  #filter-prod .container-fluid .row .col-12 .arr-card .image {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #filter-prod .container-fluid .row .col-12 .arr-card .p-con {
    width: 100% !important;
  }
  #filter-prod .container-fluid .row .col-12 .button-con {
    width: 100%;
  }
  #filter-prod .container-fluid .row .col-12 .count {
    width: 55%;
  }
  #filter-prod .container-fluid .row .col-12 .select {
    width: 50%;
    margin: 20px 10px;
    justify-content: start;
  }
}
#basket {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--bgColor);
}
#basket .container-fluid .row .col-12 .container-fluid .row .bold {
  font-weight: 700;
}
#basket .container-fluid .row .col-12 .container-fluid .row .col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorAll);
}
#basket .container-fluid .row .col-12 .container-fluid .row .col-2 img {
  width: 60%;
  height: 80%;
}
#basket .container-fluid .row .col-12 .container-fluid .row .col-2 span {
  font-size: 16px;
  color: var(--ColorLight);
}
#basket .container-fluid .row .col-12 .container-fluid .row .col-2 button {
  border: none;
  outline: none;
  margin: 0 5px;
  font-size: 14px;
  background: none;
  color: #636363;
}
#basket .container-fluid .row .col-12 .container-fluid .row .col-2 button:active {
  transform: scale(0.95);
}
#basket .container-fluid .row .col-12 .container-fluid .row .col-2 button .i {
  transition: all 0.4s ease;
}
#basket .container-fluid .row .col-12 .container-fluid .row .col-2 button .i:hover {
  color: #ff5d1d;
}
#basket .container-fluid .row .col-12 .container-fluid .row .price {
  color: #ff5d1d;
  font-size: 15px;
  font-weight: 600;
}
#basket .total {
  width: auto;
  height: auto;
  padding: 10px;
  border: 0.4px solid #dadada;
  border-left: none;
  color: var(--colorAll);
}
#basket .total button {
  border: none;
  outline: none;
  background-color: var(--colorAll);
  color: var(--bgColor);
  padding: 0.7rem 1.8rem;
  transition: all 0.4s ease;
  margin-left: 20px;
}
#basket .total button:hover {
  background-color: #ff5d1d;
}

@media (max-width: 720px) {
  #basket .container-fluid .row .col-12 .container-fluid .row .desc {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  #basket .container-fluid .row .col-12 .container-fluid .row .col-2 {
    font-size: 11px;
  }
  #basket .container-fluid .row .col-12 .container-fluid .row button .i {
    font-size: 13px;
  }
}
.arr-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.arr-card .image {
  width: 95%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.arr-card .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.arr-card .image img {
  width: 100%;
  height: 100%;
}
.arr-card .image .i-con {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  right: -60px;
  height: 40%;
  top: 10px;
  transition: all 0.5s ease;
  z-index: 2;
}
.arr-card .image .i-con span {
  display: inline-block;
  background-color: #fff;
  padding: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.arr-card .image .i-con span:hover {
  background-color: #ff5d1d;
}
.arr-card .image .i-con span:hover .i {
  color: #fff;
}
.arr-card .image .i-con span .i {
  font-size: 20px;
  color: #333;
  transition: all 0.2s ease;
}
.arr-card .price {
  color: var(--colorAll);
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}
.arr-card .desc {
  color: #555;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}
.arr-card .desc:hover {
  color: #ff5d1d;
}
.arr-card:hover .i-con {
  right: 10px;
}
.arr-card:hover .image::after {
  background-color: rgba(169, 169, 169, 0.1882352941);
}

#detail {
  width: 100%;
  height: 100vh;
}
#detail .container {
  height: 500px;
}
#detail .container .row {
  height: 500px;
}
#detail .container .row .col-12 .arr-card .image img {
  width: 100%;
  height: 100%;
}

#registration {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}
#registration .register-card {
  align-items: center;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 450px;
  width: 70%;
}
#registration .register-card .owr {
  width: 50%;
  height: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  z-index: 999 !important;
  justify-content: center;
  transition: all 500ms ease;
}
#registration .register-card .owr h4 {
  color: #fff;
  text-align: center;
}
#registration .register-card .owr p {
  color: #fff;
  margin: 15px 0;
  font-size: 17px;
}
#registration .register-card .owr button {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.5rem 2.5rem;
  border: 1px solid #fff;
  background-color: transparent;
}
#registration .register-card .owr button:active {
  transform: scale(0.9);
}
#registration .register-card .item-owr1 {
  left: 0;
  transform: translateX(-100%);
}
#registration .register-card .item-owr2 {
  right: 0;
  transform: translateX(100%);
}
#registration .register-card .tr-0 {
  transform: translateX(0);
}
#registration .register-card .owerlay {
  left: 0;
  width: 50%;
  z-index: 3;
  height: 100%;
  position: absolute;
  transition: all 500ms ease;
  background-color: var(--login);
}
#registration .register-card .owr-hid {
  transform: translateX(110%);
}
#registration .register-card .right {
  left: 50% !important;
}
#registration .register-card p {
  width: 95%;
}
#registration .register-card h4 {
  font-size: 35px;
  font-weight: 700;
}
#registration .register-card .form {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
#registration .register-card .form .item-hid1 {
  transform: translateX(-110%);
}
#registration .register-card .form .item-hid2 {
  transform: translateX(110%);
}
#registration .register-card .form .item {
  transition: all 500ms ease;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 90%;
  z-index: 2;
  width: 80%;
}
#registration .register-card .form .item form {
  width: 90%;
  height: auto;
  display: flex;
  margin: 20px 0;
  position: relative;
  align-items: center;
  z-index: -1 !important;
  flex-direction: column;
}
#registration .register-card .form .item form input {
  background-color: rgba(228, 228, 228, 0.831372549);
  border-radius: 5px;
  padding-left: 15px;
  margin: 10px 0;
  outline: none;
  padding: 6px;
  border: none;
  width: 100%;
}
#registration .register-card .form .item form input::-moz-placeholder {
  font-size: 14px;
}
#registration .register-card .form .item form input::placeholder {
  font-size: 14px;
}
#registration .register-card .form .item form p {
  color: #bcbbbb;
  margin: 10px 0;
}
#registration .register-card .form .item form button {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.5rem 2.5rem;
  background-color: black;
}
#registration .register-card .form .item form button:active {
  transform: scale(0.9) translateY(1px);
}

#mini-login {
  width: 100%;
  height: 90vh;
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #b4b4b4;
}
#mini-login .con {
  flex-direction: column;
  align-items: center;
  position: absolute;
  display: flex;
  left: 30px;
  z-index: 5;
  top: 30px;
}
#mini-login .con .small-dash {
  width: 10px;
  height: 0.5px;
  background-color: #3d3d3d;
  box-shadow: 2px 2px 2px #333, -2px 2px 2px #333;
}
#mini-login .con .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 1px #151515, -0.5px -0.5px 1px #151515;
}
#mini-login .con .dash {
  width: 1.5px;
  height: 80px;
  background-color: #333;
}
#mini-login .signin-card {
  z-index: 3;
  width: 100%;
  height: 450px;
  display: flex;
  overflow: hidden;
  position: absolute;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}
#mini-login .signin-card h4 {
  font-size: 35px;
  font-weight: 700;
}
#mini-login .signin-card .form {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 80%;
}
#mini-login .signin-card .form .item {
  width: 80%;
  z-index: 2;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 500ms ease;
}
#mini-login .signin-card .form .item form {
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px 0;
  display: flex;
  height: auto;
  width: 90%;
}
#mini-login .signin-card .form .item form input {
  width: 100%;
  border: none;
  padding: 6px;
  outline: none;
  margin: 15px 0;
  border-radius: 5px;
  padding-left: 15px;
  background-color: rgba(228, 228, 228, 0.831372549);
}
#mini-login .signin-card .form .item form input::-moz-placeholder {
  font-size: 14px;
}
#mini-login .signin-card .form .item form input::placeholder {
  font-size: 14px;
}
#mini-login .signin-card .form .item form p {
  color: #bcbbbb;
  margin: 10px 0;
}
#mini-login .signin-card .form .item form button {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.5rem 2.5rem;
  background-color: #000;
}
#mini-login .signin-card .form .item form button:active {
  transform: scale(0.9) translateY(1px);
}
#mini-login .login-card {
  width: 100%;
  height: 450px;
  display: flex;
  overflow: hidden;
  position: absolute;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}
#mini-login .login-card h4 {
  font-weight: 700;
  font-size: 35px;
  color: #fff;
}
#mini-login .login-card .form {
  background-color: #d3d3d3;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 80%;
}
#mini-login .login-card .form .item {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 500ms ease;
}
#mini-login .login-card .form .item form {
  width: 90%;
  height: auto;
  display: flex;
  margin: 20px 0;
  position: relative;
  align-items: center;
  flex-direction: column;
}
#mini-login .login-card .form .item form input {
  width: 100%;
  padding: 6px;
  border: none;
  outline: none;
  margin: 10px 0;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #f3f3f3;
}
#mini-login .login-card .form .item form input::-moz-placeholder {
  font-size: 14px;
}
#mini-login .login-card .form .item form input::placeholder {
  font-size: 14px;
}
#mini-login .login-card .form .item form p {
  color: #bcbbbb;
  margin: 10px 0;
}
#mini-login .login-card .form .item form button {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.5rem 2.5rem;
  background-color: #fff;
  color: #000;
}
#mini-login .login-card .form .item form button:active {
  transform: scale(0.9) translateY(1px);
}

.up {
  transition: all 2s ease !important;
  height: 0 !important;
  z-index: 5 !important;
  top: 63px;
}

@media (max-width: 900px) {
  #registration .register-card {
    width: 90%;
  }
}
@media (max-width: 768px) {
  #registration .register-card {
    width: 100%;
  }
}
@media (max-width: 630px) {
  #registration {
    display: none;
  }
  #mini-login {
    display: flex;
    height: 100vh;
  }
  .up {
    top: 60px;
  }
}
@media (max-width: 540px) {
  #mini-login {
    height: 93vh;
  }
  .up {
    top: 40px;
  }
}
@media (max-width: 420px) {
  .up {
    top: 140px;
  }
}
@media (max-width: 414px) {
  .up {
    top: 177px;
  }
}
@media (max-width: 412px) {
  .up {
    top: 185px;
  }
}
@media (max-width: 390px) {
  .up {
    top: 40px;
  }
}
@media (max-width: 360px) {
  .up {
    top: 107px !important;
  }
}
@media (max-width: 280px) {
  .up {
    top: 68px !important;
  }
}
.add-animation {
  animation: long 0.5s;
}

.close-animation {
  animation: short 0.5s;
}

@keyframes long {
  0% {
    height: 80px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 80px;
  }
}
@keyframes short {
  0% {
    height: 80px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 80px;
  }
}
.dropDown {
  z-index: 9 !important;
}
.dropDown .click {
  font-size: 22px;
}
.dropDown ul {
  z-index: 99;
  width: 100px !important;
  left: -50px !important;
  background-color: var(--bgColor) !important;
  color: var(--colorAll) !important;
}

#dashboard {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--bgColor);
}
#dashboard .add {
  outline: none;
  border-radius: 10px;
  border: 3px double #989898;
  background-color: transparent;
  padding: 2px 4px;
  font-size: 13px;
  margin-top: 20px;
}
#dashboard .add a {
  color: var(--colorAll);
}
#dashboard .add:active {
  transform: scale(0.96);
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .bold {
  font-weight: 700;
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorAll);
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 img {
  width: 60%;
  height: 80%;
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 span {
  font-size: 16px;
  color: var(--ColorLight);
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 button {
  border: none;
  outline: none;
  margin: 0 5px;
  font-size: 14px;
  background: none;
  color: #636363;
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 button:active {
  transform: scale(0.95);
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 button .i {
  transition: all 0.4s ease;
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 button .i:hover {
  color: #ff5d1d;
}
#dashboard .container-fluid .row .col-12 .container-fluid .row .price {
  font-size: 15px;
  font-weight: 600;
}
#dashboard .total {
  width: auto;
  height: auto;
  padding: 10px;
  border: 0.4px solid #dadada;
  border-left: none;
  color: var(--colorAll);
}
#dashboard .total button {
  border: none;
  outline: none;
  background-color: var(--colorAll);
  color: var(--bgColor);
  padding: 0.7rem 1.8rem;
  transition: all 0.4s ease;
  margin-left: 20px;
}
#dashboard .total button:hover {
  background-color: #ff5d1d;
}

@media (max-width: 720px) {
  #dashboard .container-fluid .row .col-12 .container-fluid .row .desc {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  #dashboard .container-fluid .row .col-12 .container-fluid .row .col-3 {
    font-size: 11px;
  }
  #dashboard .container-fluid .row .col-12 .container-fluid .row button .i {
    font-size: 13px;
  }
}
#blog .add {
  outline: none;
  border-radius: 10px;
  border: 3px double #989898;
  background-color: transparent;
  padding: 2px 4px;
  font-size: 13px;
}
#blog .add a {
  color: var(--colorAll);
}
#blog .add:active {
  transform: scale(0.96);
}
#blog h4 {
  text-align: start;
  margin: 10px 0;
  padding-left: 10px;
}
#blog .container-fluid .row .col-12 .blog-card {
  width: 100%;
  height: 100%;
}
#blog .container-fluid .row .col-12 .blog-card .item {
  width: 100%;
  height: auto;
}
#blog .container-fluid .row .col-12 .blog-card .item img {
  width: 100%;
  transition: all 0.2s ease;
}
#blog .container-fluid .row .col-12 .blog-card .item img:hover {
  opacity: 0.9;
}
#blog .container-fluid .row .col-12 .blog-card .p-con {
  text-align: start;
}
#blog .container-fluid .row .col-12 .blog-card .p-con * {
  margin: 12px 0;
}
#blog .container-fluid .row .col-12 .blog-card .p-con .date {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: start;
}
#blog .container-fluid .row .col-12 .blog-card .p-con h4 {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 26px;
  text-align: start;
  transition: all 0.3s ease;
}
#blog .container-fluid .row .col-12 .blog-card .p-con h4:hover {
  color: #ff5d1d;
}
#blog .container-fluid .row .col-12 .blog-card .p-con button {
  border: none;
  outline: none;
  background-color: var(--colorAll);
  color: var(--bgColor);
  width: auto;
  height: auto;
  padding: 0.7rem 1.8rem;
}
#blog .container-fluid .row .col-12 .container-fluid .row .aft {
  display: flex;
  padding-left: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
#blog .container-fluid .row .col-12 .container-fluid .row .aft img {
  width: 100%;
}
#blog .container-fluid .row .col-12 .container-fluid .row .aft::after {
  content: "";
  width: 85%;
  opacity: 0;
  height: 90%;
  position: absolute;
  transition: all 0.4s ease;
  border: 25px solid rgba(255, 255, 255, 0.2745098039);
}
#blog .container-fluid .row .col-12 .container-fluid .row .aft::before {
  content: "";
  width: 15%;
  height: 20%;
  opacity: 0;
  position: absolute;
  transition: all 0.4s ease;
  border: 10px solid rgba(229, 229, 229, 0.3882352941);
}
#blog .container-fluid .row .col-12 .container-fluid .row .aft:hover::after, #blog .container-fluid .row .col-12 .container-fluid .row .aft:hover::before {
  opacity: 1;
  width: 130%;
  height: 130%;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 {
  margin: 35px 0;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 img {
  width: 100%;
  height: 100%;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 h3 {
  font-size: 23px;
  color: var(--colorAll);
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .search-box div {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.6rem;
  background-color: #f5f5f5;
  justify-content: space-between;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .search-box div input {
  border: none;
  outline: none;
  background: none;
  width: 80%;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .search-box div span .i {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .search-box div span .i:hover {
  color: #ff5d1d;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .size-con {
  width: 100%;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .size-con span {
  padding: 0.5rem 0.7rem;
  display: inline-block;
  background-color: var(--panelBtn);
  font-size: 15px;
  font-weight: 700;
  margin: 0 2px;
  color: var(--colorAll);
  cursor: pointer;
  transition: all 0.4s ease;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .size-con span:hover {
  color: #fff;
  background-color: #ff5d1d;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .tag-con {
  width: 76%;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .tag-con span {
  padding: 0.6rem 1.2rem;
  display: inline-block;
  font-size: 15px;
  border: 1px solid #e9e9e9;
  font-weight: 400;
  margin: 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 .tag-con span:hover {
  color: #fff;
  background-color: #ff5d1d;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 ul {
  padding-left: 0;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 ul li {
  color: var(--ColorLight);
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 ul li label {
  width: 70%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
#blog .container-fluid .row .col-12 .container-fluid .row .col-12 ul li label input {
  accent-color: #000;
}

#addblogs {
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#addblogs form {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#addblogs form .input-con {
  display: flex;
  position: relative;
  width: 50% !important;
  flex-direction: column;
  justify-content: center;
}
#addblogs form .input-con label {
  top: 10px;
  left: 10px;
  padding: 0 5px;
  color: var(--ColorLight);
  position: absolute;
  transition: all 500ms ease;
}
#addblogs form .input-con input {
  width: 100%;
  height: auto;
  outline: none;
  border-radius: 5px;
  color: var(--colorAll);
  padding: 10px 0 10px 15px;
  background-color: var(--bgColor);
  border: 1px solid var(--colorAll);
}
#addblogs form .input-con input:focus {
  border-color: var(--ColorLight);
}
#addblogs form .input-con input:focus + label {
  top: -10px;
  left: 14px;
  font-size: 14px;
  color: var(--colorAll);
  background-color: var(--bgColor);
}
#addblogs form .input-con input:valid {
  border-color: var(--colorAll);
}
#addblogs form .input-con input:valid + label {
  top: -10px;
  left: 14px;
  font-size: 14px;
  color: var(--colorAll);
  background-color: var(--bgColor);
}
#addblogs form button {
  width: 25%;
  border: none;
  height: auto;
  padding: 5px;
  outline: none;
  color: var(--bgColor);
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--colorAll);
}
#addblogs form button:hover {
  background-color: var(--login);
}
#addblogs form button:active {
  transform: scale(0.98);
}

.light {
  --bgColor: #fff;
  --Arrivals: #f7f7f7;
  --colorAll: #000;
  --logoBg: url("../Images/logo.png") center/contain no-repeat;
  --sidebarBg: #f1f1f1;
  --hvLogoCard: #fff;
  --LogoCard: #f7f7f7;
  --CardDescriotion: #555;
  --ColorLight: #111;
  --buttonBg: #ff5d1d;
  --hvLang: #b6b6b6;
  --Placeholder: #b6b6b6;
  --panelBtn: #f0f0f0;
  --login: #d84409;
}

.dark {
  --bgColor: #000;
  --Arrivals: #000;
  --colorAll: #fff;
  --logoBg: url("../Images/bigboom-logo-negro.png") center/70% no-repeat;
  --sidebarBg: #111;
  --hvLogoCard: #a3a1a1;
  --LogoCard: #fff;
  --CardDescriotion: #fff;
  --ColorLight: #fff;
  --buttonBg: #fff;
  --hvLang: #333;
  --Placeholder: #111;
  --panelBtn: #111;
  --login: #333;
}/*# sourceMappingURL=style.css.map */