// Reset
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none !important;
}

main {
  background-color: var(--bgColor);
}
// Space
#space {
  width: 100%;
  height: 20vh;
  border-bottom: 1px solid #d9d9d9;
  background-color: var(--bgColor);
}

// Header

header {
  width: 100%;
  height: 17vh;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  .container-fluid {
    .row {
      .my-col {
        ul {
          margin: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
            position: relative;
            font-weight: 600;
            color: var(--colorAll);
            span {
              top: 2px;
              z-index: 3;
              right: -3px;
              color: #fff;
              padding: 0 5px;
              font-size: 10px;
              cursor: pointer;
              font-weight: 600;
              border-radius: 50%;
              position: absolute;
              display: inline-block;
              background-color: #ff5d1d;
            }
            a {
              font-size: 15px;
              font-variant: var(--colorAll) !important;
            }

            ul {
              width: 45px;
              height: auto;
              position: absolute;
              background-color: var(--bgColor);
              border: 1px solid #767676;
              flex-direction: column;
              margin: 0;
              padding: 0;
              left: -10px;
              display: none;
              li {
                width: 100%;
                height: auto;
                cursor: pointer;
                line-height: 30px;
                text-align: center;
                transition: all 0.3s ease;
                &:hover {
                  background-color:var(--hvLang) ;
                }
              }
            }
            &:hover {
              ul {
                display: block;
              }
            }
          }
        }
      }
      .first-col {
        display: flex;
        align-items: start;
        justify-content: flex-start;
        button {
          border: none;
          outline: none;
          display: none;
          background-color: transparent;
          .i {
            color: #ff5d1d;
            font-size: 25px;
            transition: all 0.3s;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        ul {
          padding-top: 10px;
          li {
            a {
              color: var(--colorAll);
              &:hover {
                color: #ff5d1d;
              }
            }
          }
        }
      }
      .second-col {
        text-align: center;
        .logo {
          width: 70%;
          height: 40px;
          background: var(--logoBg);
        }
      }
      .thread-col {
        display: flex;
        align-items: end;
        justify-content: flex-end;
        padding-right: 35px;
        ul {
          width: 60%;
          
          li {
            
            .i {
              color: var(--colorAll);
              font-size: 22px;
              cursor: pointer;
              transition: all 0.5s ease;
              &:hover {
                transform: scale(1.1);
                color: #ff5d1d;
              }
            }
            a {
              color: var(--colorAll);
            }
          }
        }
      }
    }
  }
}

// Media Query
@media (max-width: 992px) {
  header {
    .container-fluid {
      .row {
        .first-col {
          ul {
            display: none;
          }
          button {
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  header {
    .container-fluid {
      .row {
        .first-col {
          order: 2;
          margin-top: 10px;
        }
        .second-col {
          order: 1;
        }
        .thread-col {
          order: 3;
          margin-top: 10px;
          ul {
            width: 100%;
          }
        }
      }
    }
  }
}
// Side-bar
.side-bar {
  top: 0;
  z-index: 999;
  width: 270px;
  height: 100vh;
  padding: 0 !important;
  position: fixed;
  transition: all 0.7s ease;
  background-color: var(--sidebarBg);
  transform: translateX(-100%);
  ul {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding-left: 10px;
    li {
      line-height: 34px;
      padding: 6px;
      width: 100%;
      &:hover {
        a {
          color: #ff5d1d;
        }
      }
      a {
        color: var(--colorAll);
        font-weight: 600;
        transition: all 0.5s ease;
      }
    }
    .first-li {
      text-align: end;
      font-size: 17px;
      cursor: pointer;
      padding-left: 15px;
      transition: all 0.4s ease;
      color: var(--colorAll);
      .i {
        &:hover {
          color: #ff5d1d;
        }
      }
    }
  }
}
.opn {
  transform: translateX(0);
}

#slider {
  width: 100%;
  height: auto;
  .mySwiper {
    margin-top: 0;
    padding: 0;
    .mySlide {
      img {
        width: 100%;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 50px;
      height: 50px;
      overflow: hidden;
      padding: 10px;
      background-color: #fff;
      opacity: 0;
      transition: all 0.5s ease;
      &:after {
        color: #000;
        padding: 14px 20px;
        font-size: 16px;
        transition: all 0.5s ease;
      }
    }
    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;
        transform: scale(1.3);

        &::after {
          font-size: 24px;
        }
      }
    }
  }
}

// Logo-Slider
#logo-slider {
  width: 100%;
  height: 70vh;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  .mySwiper {
    margin-top: 0;
    .my-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      .my-card {
        width: 80%;
        display: flex;
        cursor: pointer;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all 0.4s ease;
        background-color: var(--LogoCard);
        * {
          margin: 15px 0;
        }
        p {
          font-weight: 700;
          transition: all 0.3s ease;
          color: #000;
        }
        img {
          &:hover {
            animation: motion 1s;
          }
        }
        &:hover {
          background-color: var(--hvLogoCard);

          p {
            color: #ff5d1d;
          }
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      &::after {
        font-size: 20px;
        color: #000;
      }
    }
  }
}

// Animation
@keyframes motion {
  0% {
    transform: translateX(-2px);
  }
  10% {
    transform: translateX(4px);
  }
  20% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  70% {
    transform: translateX(2px);
  }
  80% {
    transform: translateX(-2px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

// Media Query
@media (max-width: 900px) {
  #logo-slider {
    height: auto;
  }
}

// Arrivals
#arrivals {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: var(--Arrivals);
}

section {
  h4 {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    color: var(--colorAll);
  }
  p {
    text-align: center;
    color: #555;
    font-size: 14px;
  }
}

.mySwiper {
  margin-top: 50px;
  padding: 0 15px;
  .my-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    button {
      border: none;
      outline: none;
      background: none;
      text-align: center;
      color: #fff;
      background-color: #000;
      width: auto;
      height: auto;
      font-size: 17px;
      font-weight: 600;
      padding: 0.7rem 2rem;
    }
    .arr-card {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .image {
        width: 95%;
        height: 100%;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.3s ease;
        }
        img {
          width: 100%;
          height: 100%;
        }
        .i-con {
          display: flex;
          position: absolute;
          flex-direction: column;
          justify-content: space-between;
          right: -60px;
          height: 45%;
          top: 10px;
          transition: all 0.5s ease;
          z-index: 2;
          span {
            display: inline-block;
            background-color: #fff;
            padding: 10px;
            transition: all 0.2s ease;
            &:hover {
              background-color: #ff5d1d;
              .i {
                color: #fff;
              }
            }
            .i {
              font-size: 22px;
              color: #333;
              transition: all 0.2s ease;
            }
          }
        }
      }
      .price {
        color: #ff5d1d;
        font-weight: 700;
        font-size: 17px;
      }
      .desc {
        color: var(--CardDescriotion);
        margin-top: 10px;
      }
      &:hover {
        .i-con {
          right: 10px;
        }
        .image {
          &::after {
            background-color: #a9a9a930;
          }
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      font-size: 20px;
      color: #000;
    }
  }
}
#populars {
  background-color: var(--bgColor);
  .container-fluid {
    .row {
      .col-12 {
        background-color: var(--Arrivals);
        padding: 0;
        .swiper-button-next {
          &::after {
            font-size: 20px;
            color: #000;

            padding-right: 15px;
          }
        }
        .swiper-button-prev {
          &::after {
            font-size: 20px;
            color: #000;

            padding-left: 15px;
          }
        }

        button {
          background-color: var(--colorAll);
          color: var(--bgColor);
        }
        .item {
          width: 100%;
          height: 100%;
          display: flex;
          overflow: hidden;
          position: relative;
          align-items: center;
          justify-content: center;
          background: url("https://opencart.smartaddons.com/themes/so_bigboom/image/catalog/banners/id1-img1.jpg")
            top/cover no-repeat;
          &::after {
            content: "";
            width: 5%;
            height: 5%;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            border: 10px solid #ffffff49;
          }
          &::before {
            content: "";
            opacity: 0;
            width: 90%;
            height: 90%;
            position: absolute;
            transition: all 0.6s ease;
            border: 10px solid #ffffff49;
          }
          &:hover {
            &::after {
              opacity: 1;
              width: 120%;
              height: 120%;
            }
            &::before {
              opacity: 1;
              width: 120%;
              height: 120%;
              transition: all 0.8s ease;
            }
          }
        }
      }
    }
  }
}

// Section All Product
#all-prod {
  width: 100%;
  height: auto;
  padding: 70px 0;
  background-color: var(--bgColor);
  h4 {
    margin: 15px 0;
  }
  .container-fluid {
    .button-con {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 55px 0;
      button {
        border: none;
        outline: none;
        background-color: #fff;
        color: #000;
        font-weight: 700;
        font-size: 14.5px;
        margin: 0 3px;
        width: auto;
        height: auto;
        padding: 0.5rem 1.5rem;
        transition: all 0.5s ease;
        &:hover {
          background-color: #000;
          color: #fff;
        }
        &:focus {
          background-color: #ff5d1d;
          color: #fff;
        }
      }
    }
    .row {
      .col-12 {
        .arr-card {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .image {
            width: 95%;
            height: 100%;
            position: relative;
            overflow: hidden;
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              transition: all 0.3s ease;
            }
            img {
              width: 100%;
              height: 100%;
            }
            .i-con {
              display: flex;
              position: absolute;
              flex-direction: column;
              justify-content: space-between;
              right: -60px;
              height: 40%;
              top: 10px;
              transition: all 0.5s ease;
              z-index: 2;
              span {
                display: inline-block;
                background-color: #fff;
                padding: 6px;
                transition: all 0.2s ease;
                cursor: pointer;
                &:hover {
                  background-color: #ff5d1d;
                  .i {
                    color: #fff;
                  }
                }
                .i {
                  font-size: 20px;
                  color: #333;
                  transition: all 0.2s ease;
                }
              }
            }
          }
          .price {
            color: var(--colorAll);
            font-weight: 700;
            font-size: 17px;
          }
          .desc {
            color: #555;
            cursor: pointer;
            margin-top: 10px;
            &:hover {
              color: #ff5d1d;
            }
          }
          &:hover {
            .i-con {
              right: 10px;
            }
            .image {
              &::after {
                background-color: #a9a9a930;
              }
            }
          }
        }
      }
    }
  }
}

// Section Design
#design {
  padding: 60px 0;
  background-color: var(--bgColor);
  .container {
    display: flex;
    overflow: hidden !important;
    padding: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      width: 5%;
      opacity: 0;
      height: 10%;
      position: absolute;
      transition: all 0.6s ease;
      border: 10px solid #ffffff8c;
    }
    &::before {
      content: "";
      width: 70%;
      opacity: 0;
      height: 80%;
      position: absolute;
      border: 10px solid #ffffff8c;
    }
    &:hover {
      &::after {
        width: 120%;
        height: 120%;
        opacity: 1;
      }
      &::before {
        width: 120%;
        height: 120%;
        opacity: 1;
        transition: all 0.6s ease;
      }
    }
  }
}

// Section Partners
#partners {
  background-color: var(--bgColor);
  padding: 20px;
  .mySwiper {
    .my-slide {
      .my-card {
        img {
          width: 100%;
          opacity: 0.3;
          height: 100%;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

// Section Bg
#bg {
  height: 550px;
  width: 100%;
  background: url("https://opencart.smartaddons.com/themes/so_bigboom/image/catalog/banners/id1-banner2.jpg")
    center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    .row {
      .col-12 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .bg-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 35px 20px 35px 35px;
          width: 70%;
          height: 100%;
          background-color: var(--bgColor);
          h4 {
            font-size: 16px;
            color: var(--colorAll);
            text-align: start;
          }
          h2 {
            font-size: 24px;
            margin: 25px 0;
            color: var(--ColorLight);
          }
          ul {
            padding-left: 0;
            margin: 20px 0;
            li {
              font-weight: 100;
              font-size: 17px;
              color: var(--ColorLight);
              line-height: 44px;
            }
          }
          button {
            width: auto;
            height: auto;
            margin: 15px 0;
            color: var(--bgColor);
            padding: 0.6rem 1.8rem;
            background-color: var(--buttonBg);
            border: none;
            align-self: start;
            outline: none;
          }
        }
      }
    }
  }
}

// Media Query
@media (max-width: 768px) {
  #bg {
    .container {
      .row {
        .col-12 {
          .bg-card {
            width: 80%;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #bg {
    .container {
      .row {
        .col-12 {
          .bg-card {
            width: 90%;
            padding-right: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #bg {
    .container {
      .row {
        .col-12 {
          .bg-card {
            width: 100%;
          }
        }
      }
    }
  }
}

// Section Min-News
#min-news {
  background-color: var(--bgColor);
  height: 60vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    .row {
      .col-12 {
        display: flex;
        align-items: center;
        justify-content: center;
        .min-card {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          span{
            .i{
              font-size: 40px;
              color: var(--colorAll);
            }
          }
          h5 {
            color: var(--colorAll);
            margin: 20px 0;
            cursor: pointer;
            transition: all 0.4s ease;
            &:hover {
              color: #ff5d1d;
            }
          }
          p {
            color: var(--CardDescriotion);
          }
        }
      }
    }
  }
}

// Media Query
@media (max-width: 900px) {
  #min-news {
    height: auto;
  }
}
// Footer
footer {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .container {
    margin-top: 30px;
    p {
      text-align: center;
      width: 100%;
      font-size: 14px;
      font-weight: 300;
      color: var(--colorAll);
      span {
        color: #ff5d1d;
        cursor: pointer;
      }
    }
  }
  .container-fluid {
    .row {
      .col-12 {
        h4 {
          font-size: 16px;
          color: var(--colorAll);
        }
        ul {
          padding-left: 0;
          li {
            font-size: 14px;
            font-weight: 300;
            color: var(--ColorLight);
            line-height: 26px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              color: #ff5d1d;
            }
          }
        }
        .pd {
          margin-left: 15px;
        }
        p {
          color: var(--ColorLight);
          font-size: 14px;
        }
        div {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          input {
            outline: none;
            border: 1px solid var(--ColorLight);
            width: 75%;
            height: auto;
            padding: 0.7rem 0.6rem;
          }
          button {
            width: auto;
            height: auto;
            padding: 0.8rem 1.7rem;
            border: none;
            outline: none;
            background-color: var(--colorAll);
            color: var(--bgColor);
            font-weight: 700;
            transition: all 0.1s;
            &:hover {
              background-color: #ff5d1d;
            }
          }
        }
        .i-con {
          width: 42%;
          margin-top: 20px;
          span {
            padding: 5px 10px;
            display: inline-block;
            transition: all 0.4s ease;
            background-color: #fafafa;
            cursor: pointer;
            &:hover {
              background-color: #ff5d1d;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

// Media Query
@media (max-width: 992px) {
  footer {
    .container-fluid {
      .row {
        .col-12 {
          .pd {
            margin: 0;
          }
        }
      }
    }
  }
}

// Globe section
#glob-sec {
  width: 100%;
  height: auto;
  display: flex;
  padding: 30px 10px;
  align-items: center;
  background-color: var(--bgColor);
  justify-content: flex-start;
  * {
    margin: 0 3px;
    color: var(--colorAll);
  }
  p {
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: #ff5d1d;
    }
  }
}
// About First
#about-first {
  width: 100%;
  height: 70vh;
  background: url("https://opencart.smartaddons.com/themes/so_bigboom/image/catalog/about/about1/bgabout2.jpg")
    center/cover no-repeat;
}
// Section Title
#title {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    color: var(--colorAll);
    font-weight: 700;
    font-size: 36px;
    margin-top: 20px;
  }
  p {
    width: 90%;
    font-size: 16px;
    color: #636363;
    font-weight: 400;
    line-height: 27px;
    margin: 15px 0;
  }
}

// About Slider

#about-slider {
  width: 100%;
  height: auto;
  h4 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  .mySwiper {
    .my-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        width: 100%;
        height: 100%;
        h6 {
          text-align: center;
          font-weight: 700;
          margin: 25px 0 8px;
          color: var(--colorAll);
          font-size: 15px;
          letter-spacing: -0.4px;
        }
        p {
          font-size: 13px;
          color: #636363;
          font-weight: 400;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// Gallery
#gallery {
  width: 100%;
  height: auto;
  padding-top: 30px;
  .container-fluid {
    margin-top: 30px;
    .row {
      .col-12 {
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
          transition: all 0.1s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .tabs-con {
    margin-left: 8px;
    display: block;
    button {
      border: none;
      outline: none;
      margin: 0 5px;
      font-weight: 700;
      padding: 0.9rem 2rem;
      background-color: #f7f7f7;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
      &::after {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        transform: rotate(45deg);
        background-color: inherit;
        z-index: -3;
        top: 35px;
      }
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
.arr {
  background-color: #ff5d1d !important;
  color: #fff;
}
// Contact Me
#contact-me {
  width: 100%;
  height: auto;
  padding: 20px 0;
  .container-fluid {
    .row {
      .col-12 {
        margin-top: 15px;
        h4 {
          color: var(--colorAll);
          font-size: 23px;
          font-weight: 700;
          text-align: start;
        }
        p {
          text-align: start;
          font-size: 15px;
          font-weight: 300;
          margin: 15px 0;
          color: var(--ColorLight);
          padding: 0;
        }
        input {
          width: 100%;
          height: auto;
          padding: 10px 15px;
          border: 1px solid #e5e5e5;
          &::placeholder {
            color: var(--Placeholder);
          }
        }
        textarea {
          border: 1px solid #e5e5e5;
          padding: 10px 15px;
          height: 150px;
          width: 100%;
          &::placeholder {
            color: var(--Placeholder);
          }
        }
        button {
          width: auto;
          height: auto;
          border: none;
          outline: none;
          color: var(--bgColor);
          font-weight: 700;
          margin-top: 10px;
          padding: 0.6rem 1.7rem;
          background-color: var(--colorAll);
          transition: all 0.3s ease;
          &:hover {
            background-color: #ff5d1d;
            color: #fff;
          }
        }
        .item {
          h5 {
            color: #ff5d1d;
            font-weight: 700;
            font-size: 19px;
          }
          ul {
            padding-left: 0;
            li {
              color: var(--ColorLight);
              font-size: 15px;
              font-weight: 400;
              line-height: 30px;
            }
          }
          span {
            color: var(--ColorLight);
            cursor: pointer;
            font-size: 15px;
            font-weight: 400;
            &:hover {
              color: #ff5d1d;
            }
          }
        }
      }
    }
  }
}

// Map
#map {
  width: 100%;
  height: 60vh;
  iframe {
    width: 100%;
    height: 100%;
  }
}

// Filter-panel

#filter-panel {
  width: 100%;
  height: auto;
  color: var(--colorAll);
  transition: all 0.5s ease;
  background-color: var(--bgColor);
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #dadada;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #afafaf;
  }
  .close {
    width: 100%;
    padding: 6px;
    display: none;
    color: #fff;
    font-weight: 900;
    text-align: end !important;
    span {
      font-size: 25px;
      cursor: pointer;
      .i{
        color: var(--colorAll);
      }
    }
  }
  .container {
    .row {
      .aft {
        display: flex;
        padding-left: 0;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
        &::after {
          content: "";
          width: 85%;
          opacity: 0;
          height: 90%;
          position: absolute;
          transition: all 0.4s ease;
          border: 25px solid #ffffff46;
        }
        &::before {
          content: "";
          width: 15%;
          height: 20%;
          opacity: 0;
          position: absolute;
          transition: all 0.4s ease;
          border: 10px solid #e5e5e563;
        }
        &:hover {
          &::after,
          &::before {
            opacity: 1;
            width: 130%;
            height: 130%;
          }
        }
      }
      .col-12 {
        margin: 35px 0;
        img {
          width: 100%;
          height: 100%;
        }
        h3 {
          font-size: 23px;
          color: var(--colorAll);
        }
        .search-box {
          div {
            width: 90%;
            height: auto;
            display: flex;
            align-items: center;
            padding: 0.5rem 0.6rem;
            background-color: #f5f5f5;
            justify-content: space-between;
            input {
              border: none;
              outline: none;
              background: none;
              width: 80%;
            }
            span {
              .i {
                color: #000;
                font-size: 20px;
                cursor: pointer;
                &:hover {
                  color: #ff5d1d;
                }
              }
            }
          }
        }
        .size-con {
          width: 100%;
          height: auto;
          margin: 10px 0;
          display: flex;
          flex-wrap: wrap;
          span {
            padding: 0.5rem 0.7rem;
            display: inline-block;
            background-color: var(--panelBtn);
            font-size: 15px;
            font-weight: 700;
            margin: 0 2px;
            color: var(--colorAll);
            cursor: pointer;
            transition: all 0.4s ease;
            &:hover {
              color: #fff;
              background-color: #ff5d1d;
            }
          }
        }
        .tag-con {
          width: 76%;
          height: auto;
          margin: 10px 0;
          display: flex;
          flex-wrap: wrap;
          span {
            padding: 0.6rem 1.2rem;
            display: inline-block;
            font-size: 15px;
            border: 1px solid #e9e9e9;
            font-weight: 400;
            margin: 4px;
            cursor: pointer;
            transition: all 0.4s ease;
            &:hover {
              color: #fff;
              background-color: #ff5d1d;
            }
          }
        }
        ul {
          padding-left: 0;
          li {
            color: var(--ColorLight);
            font-size: 15px;
            font-weight: 300;
            line-height: 36px;

            label {
              width: 70%;
              display: flex;
              cursor: pointer;
              align-items: center;
              justify-content: space-between;
              input {
                accent-color: #000;
              }
            }
          }
        }
      }
    }
  }
}

// Media Query
@media (max-width: 992px) {
  #filter-panel {
    top: 0;
    left: 0;
    z-index: 99;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    transform: translateX(-100%);
    .close {
      display: block;
    }
  }
}

.tr-none {
  transform: translateX(0) !important;
}

// Filter Product
#filter-prod {
  width: 100%;
  height: auto;
  h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--colorAll);
  }
  .container-fluid {
    .row {
      .col-12 {
        .item {
          width: 100%;
          height: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          font-size: 15px;
          color: var(--CardDescriotion);
          text-align: start;
          font-weight: 400;
          padding: 10px 0;
        }
        .button-con {
          width: 25%;
          display: flex;
          align-items: start;
          justify-content: space-around;
          .sidebar-btn {
            display: none;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            span {
              padding: 0;
              margin: 0;
              .i {
                font-size: 21px;
                color: var(--colorAll);
                margin: 0;
                padding: 0;
              }
            }
            p {
              color: var(--colorAll);
              font-weight: 700;
              padding: 0;
              margin: 0;
              padding-left: 7px;
              margin-top: 3px;
            }
          }
          span {
            display: inline-block;
            padding: 7px;
            border: 1px solid transparent;
            cursor: pointer;
            .i {
              font-size: 26px;
              color: #989898;
            }
          }
          .bor {
            border-color: var(--colorAll);
            .i {
              color: var(--colorAll);
            }
          }
          .big {
            padding: 4px;
            .i {
              font-size: 34px;
            }
          }
        }
        .count {
          width: 25%;
          display: flex;
          align-items: center;
          p {
            padding: 0;
            margin: 0 10px;
          }
          .show-count {
            position: relative;
            cursor: pointer;
            color: var(--ColorLight);
            ul {
              position: absolute;
              background-color: #fff;
              width: 60px;
              padding: 0;
              border: 1px solid #767676;
              display: none;
              li {
                color: #555;
                cursor: pointer;
                width: 100%;
                padding: 2px 4px;
                &:hover {
                  color: #333;
                  background-color: #ecebeb;
                }
              }
            }
          }
        }
        .select {
          width: 25%;
          display: flex;
          justify-content: center;
          color: var(--ColorLight);
          p {
            padding: 0;
            margin: 0;
          }
          select {
            border: 1px solid #acacac;
            background: none;
            outline: none;
            color: #767676;
            margin-left: 15px;
            width: 60%;
            padding: 5px;
          }
        }
        .container {
          margin-top: 15px;
          .row {
            .col-12 {
              .arr-card {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                .image {
                  width: 95%;
                  height: 100%;
                  position: relative;
                  overflow: hidden;
                  &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all 0.3s ease;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                  }
                  .i-con {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    justify-content: space-between;
                    right: -60px;
                    top: 10px;
                    transition: all 0.5s ease;
                    z-index: 2;
                    span {
                      display: inline-block;
                      background-color: #fff;
                      padding: 6px;
                      margin: 10px 0;
                      transition: all 0.2s ease;
                      cursor: pointer;
                      &:hover {
                        background-color: #ff5d1d;
                        .i {
                          color: #fff;
                        }
                      }
                      .i {
                        color: #333;
                        font-size: 20px;
                        transition: all 0.2s ease;
                      }
                    }
                  }
                  &:hover {
                    &::after {
                      background-color: #76767645;
                    }
                  }
                }
                .p-con {
                  text-align: center;
                  width: 100%;
                  .price {
                    color: var(--colorAll);
                    font-size: 17px;
                    font-weight: 700;
                    text-align: center !important;
                  }
                  .desc {
                    text-align: center !important;
                    margin-top: 10px;
                    cursor: pointer;
                    color: #555;
                    &:hover {
                      color: #ff5d1d;
                    }
                  }
                }
                &:hover {
                  .i-con {
                    right: 20px !important;
                  }
                }
              }
            }
            .col-lg-12 {
              margin: 10px 0;
              .arr-card {
                width: 100%;
                height: 100%;
                flex-direction: row;
                .p-con {
                  width: 53%;
                  padding: 40px 20px 0;
                  align-self: flex-start;
                  .title {
                    text-align: center;
                    font-size: 22px;
                    cursor: pointer;
                    color: var(--colorAll);
                    &:hover {
                      color: #ff5d1d;
                    }
                  }
                  .desc {
                    pointer-events: none;
                    color: var(--ColorLight);
                  }
                  .price {
                    color: #ff5d1d;
                  }
                }

                .image {
                  width: 45%;
                  height: 100%;
                  position: relative;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                  .i-con {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    justify-content: space-between;
                    right: -60px;
                    height: 40%;
                    top: 10px;
                    transition: all 0.5s ease;
                    z-index: 2;
                    span {
                      display: inline-block;
                      background-color: #f0f0f0;
                      padding: 6px;
                      transition: all 0.2s ease;
                      cursor: pointer;
                      &:hover {
                        background-color: #ff5d1d;
                        .i {
                          color: #fff;
                        }
                      }
                      .i {
                        font-size: 20px;
                        color: #333;
                        transition: all 0.2s ease;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .my-d {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
.show {
  ul {
    z-index: 99;
    display: block !important;
  }
}
// Media Query
@media (max-width: 992px) {
  #filter-prod {
    .container-fluid {
      .row {
        .col-12 {
          .button-con {
            width: 50%;
            .sidebar-btn {
              display: flex;
            }
          }
          .count {
            width: 45%;
          }
          .select {
            width: 50%;
            margin: 20px 10px;
            justify-content: start;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #filter-prod {
    .container-fluid {
      .row {
        .col-12 {
          .arr-card {
            flex-direction: column !important;

            .image {
              width: 100% !important;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .p-con {
              width: 100% !important;
            }
          }
          .button-con {
            width: 100%;
          }
          .count {
            width: 55%;
          }
          .select {
            width: 50%;
            margin: 20px 10px;
            justify-content: start;
          }
        }
      }
    }
  }
}

// Basket

#basket {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--bgColor);
  .container-fluid {
    .row {
      .col-12 {
        .container-fluid {
          .row {
            .bold {
              font-weight: 700;
            }
            .col-2 {
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--colorAll);
              img {
                width: 60%;
                height: 80%;
              }
              span {
                font-size: 16px;
                color: var(--ColorLight);
              }
              button {
                border: none;
                outline: none;
                margin: 0 5px;
                font-size: 14px;
                background: none;
                color: #636363;
                &:active {
                  transform: scale(0.95);
                }
                .i {
                  transition: all 0.4s ease;
                  &:hover {
                    color: #ff5d1d;
                  }
                }
              }
            }
            .price {
              color: #ff5d1d;
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .total {
    width: auto;
    height: auto;
    padding: 10px;
    border: .4px solid #dadada;
    border-left: none;
    color: var(--colorAll);
    button {
      border: none;
      outline: none;
      background-color: var(--colorAll);
      color: var(--bgColor);
      padding: 0.7rem 1.8rem;
      transition: all 0.4s ease;
      margin-left: 20px;
      &:hover {
        background-color: #ff5d1d;
      }
    }
  }
}
// Media Query
@media (max-width: 720px) {
  #basket {
    .container-fluid {
      .row {
        .col-12 {
          .container-fluid {
            .row {
              .desc {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #basket {
    .container-fluid {
      .row {
        .col-12 {
          .container-fluid {
            .row {
              .col-2 {
                font-size: 11px;
              }
              button {
                .i {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Card
.arr-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .image {
    width: 95%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .i-con {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: space-between;
      right: -60px;
      height: 40%;
      top: 10px;
      transition: all 0.5s ease;
      z-index: 2;
      span {
        display: inline-block;
        background-color: #fff;
        padding: 6px;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
          background-color: #ff5d1d;
          .i {
            color: #fff;
          }
        }
        .i {
          font-size: 20px;
          color: #333;
          transition: all 0.2s ease;
        }
      }
    }
  }
  .price {
    color: var(--colorAll);
    font-weight: 700;
    font-size: 17px;
    text-align: center;
  }
  .desc {
    color: #555;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    &:hover {
      color: #ff5d1d;
    }
  }
  &:hover {
    .i-con {
      right: 10px;
    }
    .image {
      &::after {
        background-color: #a9a9a930;
      }
    }
  }
}

// Detail
#detail {
  width: 100%;
  height: 100vh;
  .container {
    height: 500px;
    .row {
      height: 500px;
      .col-12 {
        .arr-card {
          .image {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}



#registration {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  .register-card {
    align-items: center;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 450px;
    width: 70%;
    .owr {
      width: 50%;
      height: 100%;
      display: flex;
      position: absolute;
      text-align: center;
      align-items: center;
      flex-direction: column;
      z-index: 999 !important;
      justify-content: center;
      transition: all 500ms ease;
      h4 {
        color: #fff;
        text-align: center;
      }
      p {
        color: #fff;
        margin: 15px 0;
        font-size: 17px;
      }
      button {
        width: auto;
        height: auto;
        border: none;
        outline: none;
        color: #fff;
        margin-top: 20px;
        font-weight: 600;
        border-radius: 30px;
        padding: 0.5rem 2.5rem;
        border: 1px solid #fff;
        background-color: transparent;
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .item-owr1 {
      left: 0;
      transform: translateX(-100%);
    }
    .item-owr2 {
      right: 0;
      transform: translateX(100%);
    }
    .tr-0 {
      transform: translateX(0);
    }
    .owerlay {
      left: 0;
      width: 50%;
      z-index: 3;
      height: 100%;
      position: absolute;
      transition: all 500ms ease;
      background-color: var(--login);
    }
    .owr-hid {
      transform: translateX(110%);
    }
    .right {
      left: 50% !important;
    }
    p {
      width: 95%;
    }
    h4 {
      font-size: 35px;
      font-weight: 700;
    }
    .form {
      width: 50%;
      height: 100%;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      .item-hid1 {
        transform: translateX(-110%);
      }
      .item-hid2 {
        transform: translateX(110%);
      }
      .item {
        transition: all 500ms ease;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        height: 90%;
        z-index: 2;
        width: 80%;

        form {
          width: 90%;
          height: auto;
          display: flex;
          margin: 20px 0;
          position: relative;
          align-items: center;
          z-index: -1 !important;
          flex-direction: column;
          input {
            background-color: #e4e4e4d4;
            border-radius: 5px;
            padding-left: 15px;
            margin: 10px 0;
            outline: none;
            padding: 6px;
            border: none;
            width: 100%;
            &::placeholder {
              font-size: 14px;
            }
          }
          p {
            color: #bcbbbb;
            margin: 10px 0;
          }
          button {
            width: auto;
            height: auto;
            border: none;
            outline: none;
            color: #fff;
            margin-top: 20px;
            font-weight: 600;
            border-radius: 30px;
            padding: 0.5rem 2.5rem;
            background-color: black;
            &:active {
              transform: scale(0.9) translateY(1px);
            }
          }
        }
      }
    }
  }
}

// Mini Login
#mini-login {
  width: 100%;
  height: 90vh;
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #b4b4b4;
  .con {
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    left: 30px;
    z-index: 5;
    top: 30px;
    .small-dash {
      width: 10px;
      height: 0.5px;
      background-color: #3d3d3d;
      box-shadow: 2px 2px 2px #333, -2px 2px 2px #333;
    }
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 1px 1px 1px #151515, -0.5px -0.5px 1px #151515;
    }
    .dash {
      width: 1.5px;
      height: 80px;
      background-color: #333;
    }
  }
  .signin-card {
    z-index: 3;
    width: 100%;
    height: 450px;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    h4 {
      font-size: 35px;
      font-weight: 700;
    }
    .form {
      background-color: #fff;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      display: flex;
      height: 100%;
      width: 80%;
      .item {
        width: 80%;
        z-index: 2;
        height: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all 500ms ease;

        form {
          flex-direction: column;
          align-items: center;
          position: relative;
          margin: 20px 0;
          display: flex;
          height: auto;
          width: 90%;
          input {
            width: 100%;
            border: none;
            padding: 6px;
            outline: none;
            margin: 15px 0;
            border-radius: 5px;
            padding-left: 15px;
            background-color: #e4e4e4d4;
            &::placeholder {
              font-size: 14px;
            }
          }
          p {
            color: #bcbbbb;
            margin: 10px 0;
          }
          button {
            width: auto;
            height: auto;
            border: none;
            outline: none;
            color: #fff;
            margin-top: 20px;
            font-weight: 600;
            border-radius: 30px;
            padding: 0.5rem 2.5rem;
            background-color: #000;
            &:active {
              transform: scale(0.9) translateY(1px);
            }
          }
        }
      }
    }
  }
  .login-card {
    width: 100%;
    height: 450px;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    h4 {
      font-weight: 700;
      font-size: 35px;
      color: #fff;
    }
    .form {
      background-color: #d3d3d3;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      display: flex;
      height: 100%;
      width: 80%;
      .item {
        width: 80%;
        height: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all 500ms ease;

        form {
          width: 90%;
          height: auto;
          display: flex;
          margin: 20px 0;
          position: relative;
          align-items: center;
          flex-direction: column;
          input {
            width: 100%;
            padding: 6px;
            border: none;
            outline: none;
            margin: 10px 0;
            padding-left: 15px;
            border-radius: 5px;
            background-color: #f3f3f3;
            &::placeholder {
              font-size: 14px;
            }
          }
          p {
            color: #bcbbbb;
            margin: 10px 0;
          }
          button {
            width: auto;
            height: auto;
            border: none;
            outline: none;
            margin-top: 20px;
            font-weight: 600;
            border-radius: 30px;
            padding: 0.5rem 2.5rem;
            background-color: #fff;
            color: #000;
            &:active {
              transform: scale(0.9) translateY(1px);
            }
          }
        }
      }
    }
  }
}

.up {
  transition: all 2s ease !important;
  height: 0 !important;
  z-index: 5 !important;
  top: 63px;
}

// Media Query
@media (max-width: 900px) {
  #registration {
    .register-card {
      width: 90%;
    }
  }
}
@media (max-width: 768px) {
  #registration {
    .register-card {
      width: 100%;
    }
  }
}
@media (max-width: 630px) {
  #registration {
    display: none;
  }
  #mini-login {
    display: flex;
    height: 100vh;
  }
  .up{
    top: 60px;
  }
}
@media (max-width: 540px) {
  #mini-login {
    height: 93vh;
  }
  .up {
    top: 40px;
  }
}
@media (max-width: 420px) {
  .up {
    top: 140px;
  }
}
@media (max-width: 414px) {
  .up {
    top: 177px;
  }
}
@media (max-width: 412px) {
  .up {
    top: 185px;
  }
}
@media (max-width: 390px) {
  .up {
    top: 40px;
  }
}

@media (max-width: 360px) {
  .up {
    top: 107px !important;
  }
}
@media (max-width: 280px) {
  .up {
    top: 68px !important;
  }
}

.add-animation {
  animation: long 0.5s;
}
.close-animation {
  animation: short 0.5s;
}

// Animation
@keyframes long {
  0% {
    height: 80px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 80px;
  }
}
@keyframes short {
  0% {
    height: 80px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 80px;
  }
}

.dropDown {
  z-index: 9 !important;
  .click {
    font-size: 22px;
  }
  ul {
    z-index: 99;
    width: 100px !important;
    left: -50px !important;
    background-color: var(--bgColor) !important;
    color: var(--colorAll) !important;
  }
}

// Dashbard{
  #dashboard {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: var(--bgColor);
    .add{
      outline: none;
      border-radius: 10px;
      border: 3px double #989898;
      background-color: transparent;
      padding: 2px 4px;
      font-size: 13px;
      margin-top: 20px;
      a{
        color: var(--colorAll);
      }
      &:active{
        transform: scale(.96);
      }
      
    }
    .container-fluid {
      .row {
        .col-12 {
          .container-fluid {
            .row {
              .bold {
                font-weight: 700;
              }
              .col-3 {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--colorAll);
                img {
                  width: 60%;
                  height: 80%;
                }
                span {
                  font-size: 16px;
                  color: var(--ColorLight);
                }
                button {
                  border: none;
                  outline: none;
                  margin: 0 5px;
                  font-size: 14px;
                  background: none;
                  color: #636363;
                  &:active {
                    transform: scale(0.95);
                  }
                  .i {
                    transition: all 0.4s ease;
                    &:hover {
                      color: #ff5d1d;
                    }
                  }
                }
              }
              .price {
                font-size: 15px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .total {
      width: auto;
      height: auto;
      padding: 10px;
      border: .4px solid #dadada;
      border-left: none;
      color: var(--colorAll);
      button {
        border: none;
        outline: none;
        background-color: var(--colorAll);
        color: var(--bgColor);
        padding: 0.7rem 1.8rem;
        transition: all 0.4s ease;
        margin-left: 20px;
        &:hover {
          background-color: #ff5d1d;
        }
      }
    }
  }


  // Media Query
@media (max-width: 720px) {
  #dashboard {
    .container-fluid {
      .row {
        .col-12 {
          .container-fluid {
            .row {
              .desc {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #dashboard {
    .container-fluid {
      .row {
        .col-12 {
          .container-fluid {
            .row {
              .col-3 {
                font-size: 11px;
              }
              button {
                .i {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Blog
#blog{
  .add{
    outline: none;
    border-radius: 10px;
    border: 3px double #989898;
    background-color: transparent;
    padding: 2px 4px;
    font-size: 13px;
    a{
      color: var(--colorAll);
    }
    &:active{
      transform: scale(.96);
    }
    
  }
  h4{
    text-align: start ;
    margin: 10px 0;
    padding-left: 10px;
  }
  .container-fluid{
    .row{
      .col-12{
        .blog-card{
          width: 100%;
          height: 100%;
          .item{
            width: 100%;
            height: auto;
            img{
              width: 100%;
            }
          }
          .p-con{
            text-align: start;
            *{
              margin: 12px 0;
            }
            .date{
              font-size: 14px;
              margin-top: 15px;
              margin-bottom: 0;
              padding: 0;
              text-align: start;
              font-weight: 600;
            }
            h4{
              text-align: start;
              margin: 0 ;
              padding: 0;
              font-size: 26px;
            }
            button{
              border: none;
              outline: none;
              background-color: var(--colorAll);
              color: var(--bgColor);
              width: auto;
              height: auto;
              padding: .7rem 1.8rem;
            }
          }
        }
      }
    }
  }
}


// Root Color
.light {
  --bgColor: #fff;
  --Arrivals: #f7f7f7;
  --colorAll: #000;
  --logoBg: url("../Images/logo.png") center/contain no-repeat;
  --sidebarBg: #f1f1f1;
  --hvLogoCard: #fff;
  --LogoCard: #f7f7f7;
  --CardDescriotion: #555;
  --ColorLight: #111;
  --buttonBg: #ff5d1d;
  --hvLang: #b6b6b6;
  --Placeholder:#b6b6b6;
  --panelBtn:#f0f0f0;
  --login:#d84409;
}
.dark {
  --bgColor: #000;
  --Arrivals: #000;
  --colorAll: #fff;
  --logoBg: url("../Images/bigboom-logo-negro.png") center/70% no-repeat;
  --sidebarBg: #111;
  --hvLogoCard: #a3a1a1;
  --LogoCard: #fff;
  --CardDescriotion: #fff;
  --ColorLight: #fff;
  --buttonBg: #fff;
  --hvLang: #333;
  --Placeholder:#111;
  --panelBtn:#111;
  --login:#333;
}
